*.log
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~
.idea
.sass-cache
*.css.map
*.js.map
*.mo
*.po
/assets/img/avatars
/assets/img/avatars_old/
/ppa
/application/logs/
/application/cache/
/assets/files/
/assets/upload/
/nbproject/private/
/nbproject/
/cron/curlmailer.logs
/assets/etxt/xml
/application/views/static_pages/
/application/views/texts_from_db.twig
/.htaccess
sitemap.xml
sitemaps.xml
/sql
tmp/
test.php
test.html
assets/img/.tmb/
new2/
**/.sass-cache
**/.sass-cache/*
/node_modules
.editorconfig
/gulp-tasks/conf.coffee
/build
/application/config/production/payout/
webpack-stats.json
