body {
    font-size: 15px;
    color: $u_text-color;
    font-family: 'Montserrat';
    font-weight: 300;
    overflow-x: hidden;

    @media screen and (max-width: $tablet) {
        font-size: 16px;
        line-height: 1.88;
    }

    * {
        box-sizing: border-box;
    }
}

a {
    color: $u_blue;
}

._heading {
    color: $u_text-color;
    text-transform: uppercase;

    &--h1 {
        font-size: 60px;
        font-weight: 900;
        line-height: 1.2;
        margin-bottom: 26px;
    }
    &--h2 {
        font-size: 48px;
        font-weight: 700;
    }
    &--h3 {
        font-size: 24px;
        font-weight: 700;
    }
    &--h4 {
        font-size: 26px;
        font-weight: 300;
    }
    &--h5 {
        font-size: 18px;
        font-weight: 300;
    }

}
._subheading {
    color: #fff;
    margin-top: 0;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 88px;

    @media screen and (max-width: $tablet) {
        font-size: 18px;
        margin-top: 17px;
    }
}
._centered {
    text-align: center;
}
@include tablet {
    ._heading {
        &--h1 {
            font-size: 36px;
            font-weight: 900;
            line-height: 1.46;
        }
        &--h2 {
            font-size: 18px;
            font-weight: 500;
        }
        &--h4 {
            font-size: 18px;
            font-weight: 500;
        }
    }
    ._subheading {
        font-size: 14px;
        margin-bottom: 32px;
    }
}
