@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Light.WOFF") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.WOFF") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Medium.WOFF") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Bold.WOFF") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Black.WOFF") format("woff");
    font-weight: 900;
    font-style: normal;
}
