$desktop: 1141px;
$tablet: 1140px;
$mobile: 767px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}
