$u_dark         : #323232;
$u_gray         : #9c9c9c;
$u_lightGray    : #dcdede;
$u_pale         : #f5f5f5;
$u_tdBg         : #f5f5f6;
$u_blue         : #347ecc;
$u_green        : #abcd85;
$u_red          : #e95653;
$u_yellow       : #faeb44;
$u_text-color   : #66737f;
$u_heading-color: #142333;

$land-dark: #646b8c;
$land-light: #d0e100;
$land-footer-bg: #999eb8;

$u_h: 40px;

$u_fz-h1: 50px;
$u_fz-h2: 40px;
